<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uf</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<body style="background-color: aliceblue;">
    <div class="container text-center">
        <div class="card-body mt-5 ">
            <h5>Resultado da Busca:</h5><hr>
            <strong>Estado: </strong><%=dado.nome %> <br>
            <strong>Sigla: </strong><%=dado.sigla %> <br>
            <strong>Região: </strong><%=dado.regiao.nome %>
            
        </div>
        <a href="/" class="btn btn-outline-primary">Voltar para página inicial</a>

    </div>
    
</body>
</html>